*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: azure;
}

.header-wrapper {
    margin-top: 15px;
    padding-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 30%;
    font-size: 25px;
    padding-left: 70px;
}

.red-span {
    color: red;
}

.ul-link {
    display: flex;
    flex-direction: row;
    /* width: 60%; */
    list-style: none;
    align-items: center;
    text-align: center;
    /* margin: auto; */
    padding-right: 200px;
    justify-content: center;
    gap: 33%;
}

a {
    text-decoration: none;
}

a .active {
    color: #000000;
    border-bottom: 2px solid red;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.li-link {
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    /* transition: 0.6s ease-in-out; */
}

a .li-link:hover {
    /* color: red; */
    border-bottom: 2px solid red;
    /* transition: 0.6s ease; */
}

.signup-txt h1{
    text-align: center;
    padding-top: 20px;
    color: red;
    font-size: 50px;
    text-transform: uppercase;

}

.con-div {
    border-radius: 20px;
    border: none;
    width: 800px;
    padding-bottom: 80px;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.11), 0px 12px 14px -1px rgba(0, 0, 0, 0.7);
    background-color: #f4f4f4;
}

.signup-form {
    text-align: center;
    padding-top: 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.jam input {
    /* width: 100%; */
    margin-top: 20px;
    width: 100%;
    padding: 10px 10px;
    /* background-color: antiquewhite; */
}

.jam input:focus {
    background-color: antiquewhite;
    border-radius: 8px;
    /* box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.11), 0px 2px 4px -1px rgba(0, 0, 0, 0.7); */
    border: none;
    transition: all .5s;
}

.signup-btn {
    background-color: rgb(163, 45, 45);
    color: #fff;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    display: flex;
    flex-direction: flex-start;
    border: none;
    margin-top: 20px;
}

.signup-btn:hover {
    opacity: 0.9;
    box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.11), 0px 2px 4px -1px rgba(0, 0, 0, 0.7);
    
}

.signup-btn:focus {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    transition: all .5s;

}


.footer-section {
    background-color: rgb(241, 238, 238);
    margin-top: 200px;
}

.final-sect h5 {
    color: #000;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 70px;
}